.container {
  margin-left: auto;
  margin-right: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 70px;
  max-width: 1440px;
}

body.locked {
  overflow: hidden;
}

.btn {
  font-style: normal;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.btn__outline {
  color: #001D5F;
}

.btn__outline:hover {
  color: #DD6200;
}

.btn__primary {
  color: #ffffff;
  background-color: #001D5F;
}

.btn__primary:hover {
  background-color: #010D14;
}

.btn__secondary {
  color: #ffffff;
  background: #DD6200;
}

.btn__secondary:hover {
  background-color: #aa4b00;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.section__title {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  text-transform: capitalize;
  color: #001D5F;
}

.section__title.title__center {
  text-align: center;
}

.section__title.title__secondary {
  color: #ffffff;
}

.section__subtitle {
  margin-top: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  letter-spacing: 0.3px;
}

.section__subtitle.subtitle__center {
  text-align: center;
}

.section__subtitle.subtitle__secondary {
  color: #ffffff;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/helvetica_regular.otf");
  src: local("Helvetica");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/helvetica_cyr_oblique.ttf");
  src: local("Helvetica Oblique"), local("Helvetica-Oblique");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/helvetica_cyr_boldoblique.ttf");
  src: local("Helvetica Bold Oblique"), local("Helvetica-BoldOblique");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/helvetica_light.otf");
  src: local("Helvetica Light"), local("Helvetica-Light");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/helvetica_bold.otf");
  src: local("Helvetica Bold"), local("Helvetica-Bold");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("Helvetica-LightOblique.eot");
  src: local("Helvetica Light Oblique"), local("Helvetica-LightOblique"), url("Helvetica-LightOblique.eot?#iefix") format("embedded-opentype"), url("../fonts/Helvetica-LightOblique.woff2") format("woff2"), url("../fonts/Helvetica-LightOblique.woff") format("woff"), url("Helvetica-LightOblique.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Silk Serif";
  src: url("SilkSerif-BlackItalic.eot");
  src: local("Silk Serif Black Italic"), local("SilkSerif-BlackItalic"), url("SilkSerif-BlackItalic.eot?#iefix") format("embedded-opentype"), url("SilkSerif-BlackItalic.woff2") format("woff2"), url("SilkSerif-BlackItalic.woff") format("woff"), url("SilkSerif-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Silk Serif";
  src: url("../fonts/SilkSerif-BoldItalic.eot");
  src: local("Silk Serif Bold Italic"), local("SilkSerif-BoldItalic"), url("../fonts/SilkSerif-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SilkSerif-BoldItalic.woff2") format("woff2"), url("../fonts/SilkSerif-BoldItalic.woff") format("woff"), url("../fonts/SilkSerif-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Silk Serif";
  src: url("../fonts/SilkSerif-LightItalic.eot");
  src: local("Silk Serif Light Italic"), local("SilkSerif-LightItalic"), url("../fonts/SilkSerif-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SilkSerif-LightItalic.woff2") format("woff2"), url("../fonts/SilkSerif-LightItalic.woff") format("woff"), url("../fonts/SilkSerif-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Silk Serif";
  src: url("../fonts/SilkSerif-Regular.eot");
  src: local("Silk Serif"), local("SilkSerif-Regular"), url("../fonts/SilkSerif-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/SilkSerif-Regular.woff2") format("woff2"), url("../fonts/SilkSerif-Regular.woff") format("woff"), url("../fonts/SilkSerif-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Silk Serif";
  src: url("../fonts/SilkSerif-ExtraLightItalic.eot");
  src: local("Silk Serif ExtraLight Italic"), local("SilkSerif-ExtraLightItalic"), url("../fonts/SilkSerif-ExtraLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SilkSerif-ExtraLightItalic.woff2") format("woff2"), url("../fonts/SilkSerif-ExtraLightItalic.woff") format("woff"), url("../fonts/SilkSerif-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Silk Serif";
  src: url("../fonts/SilkSerif-SemiBoldItalic.eot");
  src: local("Silk Serif SemiBold Italic"), local("SilkSerif-SemiBoldItalic"), url("../fonts/SilkSerif-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SilkSerif-SemiBoldItalic.woff2") format("woff2"), url("../fonts/SilkSerif-SemiBoldItalic.woff") format("woff"), url("../fonts/SilkSerif-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Silk Serif";
  src: url("../fonts/SilkSerif-SemiBold.eot");
  src: local("Silk Serif SemiBold"), local("SilkSerif-SemiBold"), url("../fonts/SilkSerif-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/SilkSerif-SemiBold.woff2") format("woff2"), url("../fonts/SilkSerif-SemiBold.woff") format("woff"), url("../fonts/SilkSerif-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Silk Serif";
  src: url("../fonts/SilkSerif-MediumItalic.eot");
  src: local("Silk Serif Medium Italic"), local("SilkSerif-MediumItalic"), url("../fonts/SilkSerif-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SilkSerif-MediumItalic.woff2") format("woff2"), url("../fonts/SilkSerif-MediumItalic.woff") format("woff"), url("../fonts/SilkSerif-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Silk Serif";
  src: url("../fonts/SilkSerif-ExtraLight.eot");
  src: local("Silk Serif ExtraLight"), local("SilkSerif-ExtraLight"), url("../fonts/SilkSerif-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/SilkSerif-ExtraLight.woff2") format("woff2"), url("../fonts/SilkSerif-ExtraLight.woff") format("woff"), url("../fonts/SilkSerif-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Silk Serif";
  src: url("../fonts/SilkSerif-Medium.eot");
  src: local("Silk Serif Medium"), local("SilkSerif-Medium"), url("../fonts/SilkSerif-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/SilkSerif-Medium.woff2") format("woff2"), url("../fonts/SilkSerif-Medium.woff") format("woff"), url("../fonts/SilkSerif-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Silk Serif";
  src: url("../fonts/SilkSerif-Light.eot");
  src: local("Silk Serif Light"), local("SilkSerif-Light"), url("../fonts/SilkSerif-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/SilkSerif-Light.woff2") format("woff2"), url("../fonts/SilkSerif-Light.woff") format("woff"), url("../fonts/SilkSerif-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Silk Serif";
  src: url("../fonts/SilkSerif-Italic.eot");
  src: local("Silk Serif Italic"), local("SilkSerif-Italic"), url("../fonts/SilkSerif-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/SilkSerif-Italic.woff2") format("woff2"), url("../fonts/SilkSerif-Italic.woff") format("woff"), url("../fonts/SilkSerif-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Silk Serif";
  src: url("../fonts/SilkSerif-Bold.eot");
  src: local("Silk Serif Bold"), local("SilkSerif-Bold"), url("../fonts/SilkSerif-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/SilkSerif-Bold.woff2") format("woff2"), url("../fonts/SilkSerif-Bold.woff") format("woff"), url("../fonts/SilkSerif-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Silk Serif";
  src: url("../fonts/SilkSerif-Black.eot");
  src: local("Silk Serif Black"), local("SilkSerif-Black"), url("../fonts/SilkSerif-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/SilkSerif-Black.woff2") format("woff2"), url("../fonts/SilkSerif-Black.woff") format("woff"), url("../fonts/SilkSerif-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

.header {
  padding-top: 40px;
}

.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__lang {
  position: absolute;
  top: 3px;
  left: 277px;
}

.language-select.open {
  border: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0px 4px 14px rgba(110, 218, 248, 0.04);
          box-shadow: 0px 4px 14px rgba(110, 218, 248, 0.04);
  border-radius: 2px;
}

.language-select.open::after {
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
  content: "";
  background: url("../img/border_lang.svg");
  width: 100%;
  display: block;
  position: absolute;
  right: 0px;
  height: 1px;
  top: 30px;
  background-size: cover;
  background-repeat: no-repeat;
}

.language-select {
  padding: 0px 35px 6px 12px !important;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  border: 1px solid transparent;
  border-radius: 2px;
}

.language-select li {
  width: 21px;
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}

.language-select:hover {
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  border: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0px 4px 14px rgba(110, 218, 248, 0.04);
          box-shadow: 0px 4px 14px rgba(110, 218, 248, 0.04);
  border-radius: 2px;
}

.header__lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.header__lang::after {
  position: absolute;
  top: 8px;
  right: 15px;
  content: "";
  background: url("../img/select_arrow.svg");
  width: 16px;
  height: 16px;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.opens {
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.opens::after {
  background-size: cover !important;
  position: absolute;
  content: "";
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  background-repeat: no-repeat !important;
  -webkit-transform: rotateX(180deg) !important;
          transform: rotateX(180deg) !important;
  background: url("../img/select_arrow.svg");
  width: 16px;
  height: 16px;
  display: block;
}

.nav.active {
  width: 100vw !important;
  -webkit-transform: translateX(0px) !important;
      -ms-transform: translateX(0px) !important;
          transform: translateX(0px) !important;
  -webkit-transition: 0.23s cubic-bezier(0.03, 0.01, 0.94, 0.95) !important;
  -o-transition: 0.23s cubic-bezier(0.03, 0.01, 0.94, 0.95) !important;
  transition: 0.23s cubic-bezier(0.03, 0.01, 0.94, 0.95) !important;
  opacity: 1 !important;
  scale: 1 !important;
}

.burger.active {
  padding: 0;
  position: absolute;
  z-index: 30;
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
  display: block;
  right: 70px;
}

.burger.active .first__line {
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
  top: -1px;
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}

.burger.active .second__line {
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  display: block;
  width: 90px;
  height: 8px;
  background: #fff;
}

.nav__container {
  position: relative;
  width: inherit;
}

.nav__menu {
  margin-top: 160px;
}

.nav__menu ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

.nav__menu ul li a {
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  font-weight: 400;
  font-size: 60px;
  line-height: 76px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.nav {
  width: 30vw;
  height: 100vh;
  right: 0px;
  bottom: 0px;
  top: 0px;
  border-radius: 0;
  -webkit-transition: 0.2s cubic-bezier(0.48, 0.48, 0.94, 0.92);
  -o-transition: 0.2s cubic-bezier(0.48, 0.48, 0.94, 0.92);
  transition: 0.2s cubic-bezier(0.48, 0.48, 0.94, 0.92);
  position: fixed;
  z-index: 20;
  background: #000;
  opacity: 0;
  scale: 0.4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.nav__callback {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6px;
  background: -webkit-gradient(linear, left top, left bottom, from(#EBEAFF), to(#6EDAF8));
  background: -o-linear-gradient(top, #EBEAFF 0%, #6EDAF8 100%);
  background: linear-gradient(180deg, #EBEAFF 0%, #6EDAF8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-family: "Montserrat";
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.nav__callback:hover {
  -webkit-text-fill-color: #EBEAFF;
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}

.nav__callback:hover img {
  opacity: 1;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.nav__phone {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
  margin-bottom: 6px;
}

.call__icon {
  opacity: 0;
  -webkit-transform: translateX(-5px);
      -ms-transform: translateX(-5px);
          transform: translateX(-5px);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.language-select {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  margin: 50px;
  text-transform: uppercase;
  height: 30px;
  overflow: hidden;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
}

.language-select li {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: transparent;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  min-height: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
}

.header__wrapper {
  background: #000;
}

.language-select li:hover {
  cursor: pointer;
}

.second__line {
  position: absolute;
  top: 2px;
}

.language-select.open {
  height: 90px;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.language-select li.active {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  pointer-events: none;
}

.burger {
  cursor: pointer;
  padding: 13px 0px;
}

.first__line {
  display: block;
  width: 90px;
  height: 8px;
  background: #fff;
  margin-left: auto;
}

.special {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__consult {
  margin-top: 54px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding: 40px 0px;
}

.nav__consult-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__consult-title {
  margin-right: 40px;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #FFFFFF;
}

.form2 {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form2__box {
  width: 100%;
  min-width: 220px;
  gap: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 24px;
}

.form2__box label {
  text-align: initial;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.form2__box input {
  outline: none;
  border: none;
  background: none;
  padding-bottom: 6px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  font-size: 15px;
  line-height: 20px;
  color: #FFFFFF;
}

.form2__box input::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.6) !important;
}

.form2__box input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.6) !important;
}

.form2__box input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.6) !important;
}

.form2__box input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.6) !important;
}

.form2__box input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.6) !important;
}

.form2__btn {
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #BFCD15;
  padding: 10px 10px 10px;
  min-width: 220px;
  max-width: 220px;
  width: 100%;
  display: block;
  background: rgba(0, 0, 0, 0.08);
  border: 1px solid #BFCD15;
  -webkit-box-shadow: 0px 4px 12px rgba(191, 205, 21, 0.12);
          box-shadow: 0px 4px 12px rgba(191, 205, 21, 0.12);
  margin-left: 24px;
}

.nav__menu-link1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s cubic-bezier(0.36, -0.16, 0.22, 1.26);
  -o-transition: 0.3s cubic-bezier(0.36, -0.16, 0.22, 1.26);
  transition: 0.3s cubic-bezier(0.36, -0.16, 0.22, 1.26);
}

.nav__menu-link1:hover {
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}

.nav__menu-link1:hover .arrow_nav1 {
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  margin-right: 16px;
  width: 34px;
  -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
          transform: translateX(0px);
}

.form2__btn::before {
  opacity: 0;
  width: 0;
  display: block;
  height: 20px;
  background-size: auto;
  background-position: center;
  content: "";
}

.form2__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
}

.form2__btn.change {
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 1px solid rgba(191, 205, 21, 0.2) !important;
  border-radius: 2px !important;
}

.form2__btn.change ::before {
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
  width: 20px;
  opacity: 1;
  background: url("../img/tick.svg");
}

.nav__menu-link2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s cubic-bezier(0.36, -0.16, 0.22, 1.26);
  -o-transition: 0.3s cubic-bezier(0.36, -0.16, 0.22, 1.26);
  transition: 0.3s cubic-bezier(0.36, -0.16, 0.22, 1.26);
}

.nav__menu-link2:hover {
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}

.nav__menu-link2:hover .arrow_nav2 {
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  margin-right: 16px;
  width: 34px;
  -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}

.nav__menu-link3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s cubic-bezier(0.36, -0.16, 0.22, 1.26);
  -o-transition: 0.3s cubic-bezier(0.36, -0.16, 0.22, 1.26);
  transition: 0.3s cubic-bezier(0.36, -0.16, 0.22, 1.26);
}

.nav__menu-link3:hover {
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}

.nav__menu-link3:hover .arrow_nav3 {
  width: 34px;
  -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  margin-right: 16px;
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}

.arrow_nav {
  width: 0px;
  -webkit-transform: translateX(-49px);
      -ms-transform: translateX(-49px);
          transform: translateX(-49px);
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.active2 {
  opacity: 1 !important;
}

.carousel {
  position: absolute;
  right: 17px;
  top: 21px;
}

.change_outer {
  overflow: hidden;
  height: 60px;
}

.change_outer .change_inner {
  position: relative;
  -webkit-animation: rotate 5.5s ease-in-out infinite;
  animation: rotate 5.5s ease-in-out infinite;
}

.change_outer .element {
  display: block;
  font-family: "Silk Serif";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 66px;
  /* identical to box height, or 132% */
  color: #FFFFFF;
}

.first__title2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@-webkit-keyframes rotate {
  0%, 20% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  25%, 33% {
    -webkit-transform: translateY(-66px);
            transform: translateY(-66px);
  }

  38%, 46% {
    -webkit-transform: translateY(-132px);
            transform: translateY(-132px);
  }

  54%, 62% {
    -webkit-transform: translateY(-198px);
            transform: translateY(-198px);
  }

  70%, 78% {
    -webkit-transform: translateY(-264px);
            transform: translateY(-264px);
  }

  86%, 92% {
    -webkit-transform: translateY(-330px);
            transform: translateY(-330px);
  }

  100% {
    -webkit-transform: translateY(-396px);
            transform: translateY(-396px);
  }
}

@keyframes rotate {
  0%, 20% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  25%, 33% {
    -webkit-transform: translateY(-66px);
            transform: translateY(-66px);
  }

  38%, 46% {
    -webkit-transform: translateY(-132px);
            transform: translateY(-132px);
  }

  54%, 62% {
    -webkit-transform: translateY(-198px);
            transform: translateY(-198px);
  }

  70%, 78% {
    -webkit-transform: translateY(-264px);
            transform: translateY(-264px);
  }

  86%, 92% {
    -webkit-transform: translateY(-330px);
            transform: translateY(-330px);
  }

  100% {
    -webkit-transform: translateY(-396px);
            transform: translateY(-396px);
  }
}

.carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  top: 1px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.first {
  background: #000;
  padding-bottom: 155px;
}

.first__wrapper {
  padding-top: 113px;
  margin-left: 120px;
}

.first__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
  font-size: 80px;
  line-height: 96px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.first__title span {
  margin-top: 10px;
  margin-right: 37px;
  display: block;
  font-weight: 500;
  font-size: 30px;
  line-height: 44px;
  color: #FFFFFF;
}

#message {
  text-transform: capitalize;
  display: block;
  font-family: "Silk Serif";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 66px;
  color: #FFFFFF;
  margin-left: 35px;
  margin-top: 20px;
}

.white__ellipse {
  margin-left: 26px;
  margin-right: 53px;
  margin-top: 35px;
}

.first__second-title {
  margin-top: 40px;
  gap: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.first__second-title h3 {
  margin-top: 0px;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 80px;
  line-height: 96px;
  text-transform: uppercase;
  margin-left: 100px;
  color: #FFFFFF;
}

.first__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.first__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */
  color: #FFFFFF;
}

.yellow_ellipse {
  margin-top: 75px;
  margin-left: 47px;
}

.offer {
  margin-top: 180px;
}

.offer__wrapper {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 243px;
}

.offer__title {
  white-space: nowrap;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}

.offer__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

.offer__subtitle p {
  max-width: 530px;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.offer__items {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
  margin-top: 60px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}

.offer__item {
  padding-bottom: 24px;
  border-bottom: 1px solid #000000;
}

.offer__item p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}

.offer__special-subtitle {
  font-size: 18px !important;
  line-height: 22px !important;
  color: #000000;
}

.offer__consult {
  padding: 40px 0px;
  background: #DAEB0D;
  width: 100%;
}

.offer__consult-btn {
  cursor: pointer;
  max-width: 220px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  padding: 8px 53px 10px;
  background: #000000;
  border: 1px solid #000000;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
}

.offer__consult-wrapper {
  max-width: 592px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 36px;
}

.offer__consult-wrapper p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}

.offer__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #000000;
  max-width: 1080px;
  margin: 0 auto;
  width: 100%;
}

.remove {
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
  width: 0;
  display: none !important;
  opacity: 0;
  height: 0;
}

.show {
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
  scale: 1 !important;
  width: auto !important;
  display: block !important;
}

.modal__box1 {
  scale: 1;
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
}

.modal__box2 {
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
}

.modal__box2 {
  display: none;
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
  width: 0;
  scale: 0;
}

.modal__box2 p {
  text-align: initial;
  font-weight: 400;
  font-size: 24px;
  line-height: 42px;
  /* or 175% */
  color: #FFFFFF;
}

.modal__box2 img {
  margin-top: 24px;
}

.form3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.m-60-top {
  margin-top: 60px !important;
}

.m-60-bottom {
  margin-bottom: 60px !important;
}

#modal-container {
  display: table-cell;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  vertical-align: middle;
}

.modal__close {
  position: absolute;
  right: 16px;
  top: 16px;
  cursor: pointer;
}

.modal__close:hover {
  scale: 1.1;
}

.modal {
  overflow: hidden;
  padding: 30px 40px 40px 40px;
  background: #000000;
  -webkit-box-shadow: 0px 4px 34px rgba(255, 255, 255, 0.12);
          box-shadow: 0px 4px 34px rgba(255, 255, 255, 0.12);
  z-index: 100;
  max-width: 786px;
  width: 100%;
  position: relative;
  margin: 0 auto;
  top: 26%;
}

.form3__btn {
  margin-left: 0 !important;
}

.modal__title {
  text-align: initial;
  margin: 0;
  font-weight: 400;
  font-size: 32px;
  line-height: 42px;
  color: #FFFFFF;
  margin-bottom: 24px;
}

.modal__title2 {
  margin: 0;
  text-align: left;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  color: #FFFFFF;
}

.modal__subtitle {
  margin-bottom: 40px;
  font-style: normal;
  font-weight: 400 !important;
  font-size: 24px !important;
  line-height: 42px !important;
  color: #FFFFFF !important;
  text-align: initial;
}

.modal__subtitle2 {
  text-align: left;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 42px;
  color: #FFFFFF;
  margin-top: 24px;
}

.hide {
  visibility: hidden;
}

@-webkit-keyframes roadRunnerIn {
  0% {
    -webkit-transform: translateX(-1500px) skewX(30deg) scaleX(1.3);
            transform: translateX(-1500px) skewX(30deg) scaleX(1.3);
  }

  70% {
    -webkit-transform: translateX(30px) skewX(0deg) scaleX(0.9);
            transform: translateX(30px) skewX(0deg) scaleX(0.9);
  }

  100% {
    -webkit-transform: translateX(0px) skewX(0deg) scaleX(1);
            transform: translateX(0px) skewX(0deg) scaleX(1);
  }
}

@keyframes roadRunnerIn {
  0% {
    -webkit-transform: translateX(-1500px) skewX(30deg) scaleX(1.3);
            transform: translateX(-1500px) skewX(30deg) scaleX(1.3);
  }

  70% {
    -webkit-transform: translateX(30px) skewX(0deg) scaleX(0.9);
            transform: translateX(30px) skewX(0deg) scaleX(0.9);
  }

  100% {
    -webkit-transform: translateX(0px) skewX(0deg) scaleX(1);
            transform: translateX(0px) skewX(0deg) scaleX(1);
  }
}

@-webkit-keyframes roadRunnerOut {
  0% {
    -webkit-transform: translateX(0px) skewX(0deg) scaleX(1);
            transform: translateX(0px) skewX(0deg) scaleX(1);
  }

  30% {
    -webkit-transform: translateX(-30px) skewX(-5deg) scaleX(0.9);
            transform: translateX(-30px) skewX(-5deg) scaleX(0.9);
  }

  100% {
    -webkit-transform: translateX(1700px) skewX(30deg) scaleX(1.4);
            transform: translateX(1700px) skewX(30deg) scaleX(1.4);
  }
}

@keyframes roadRunnerOut {
  0% {
    -webkit-transform: translateX(0px) skewX(0deg) scaleX(1);
            transform: translateX(0px) skewX(0deg) scaleX(1);
  }

  30% {
    -webkit-transform: translateX(-30px) skewX(-5deg) scaleX(0.9);
            transform: translateX(-30px) skewX(-5deg) scaleX(0.9);
  }

  100% {
    -webkit-transform: translateX(1700px) skewX(30deg) scaleX(1.4);
            transform: translateX(1700px) skewX(30deg) scaleX(1.4);
  }
}

@-webkit-keyframes modalContentFadeIn {
  0% {
    opacity: 0;
    top: -20px;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes modalContentFadeIn {
  0% {
    opacity: 0;
    top: -20px;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}

@-webkit-keyframes modalContentFadeOut {
  0% {
    opacity: 1;
    top: 0px;
  }

  100% {
    opacity: 0;
    top: -20px;
  }
}

@keyframes modalContentFadeOut {
  0% {
    opacity: 1;
    top: 0px;
  }

  100% {
    opacity: 0;
    top: -20px;
  }
}

html.modal-active,
body.modal-active {
  overflow: hidden;
}

.opened {
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
  z-index: 20;
  opacity: 1 !important;
  visibility: visible !important;
}

.modal-background {
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}

#modal-container {
  display: table-cell;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  vertical-align: middle;
}

#modal-container {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  display: none;
  z-index: 1;
}

#modal-container.five {
  opacity: 1 !important;
  display: table !important;
}

#modal-container.five {
  background: rgba(0, 0, 0, 0);
  -webkit-animation: fadeIn 0.3s cubic-bezier(0.56, 0.58, 0.44, 1) forwards;
  animation: fadeIn 0.3s cubic-bezier(0.56, 0.58, 0.44, 1) forwards;
}

#modal-container.five .modal {
  -webkit-transform: translateX(-800px);
      -ms-transform: translateX(-800px);
          transform: translateX(-800px);
  -webkit-animation: roadRunnerIn 0.3s cubic-bezier(0.17, 0.66, 0.58, 1) forwards;
  animation: roadRunnerIn 0.3s cubic-bezier(0.17, 0.66, 0.58, 1) forwards;
}

#modal-container.five.out {
  -webkit-animation: quickScaleDown 0.3s 0.3s linear forwards;
  animation: quickScaleDown 0.3s 0.3s linear forwards;
}

#modal-container.five.out {
  -webkit-animation: fadeOut 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  animation: fadeOut 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.five.out .modal {
  -webkit-animation: roadRunnerOut 0.4s cubic-bezier(0.23, 0.73, 0.53, 1) forwards;
  animation: roadRunnerOut 0.4s cubic-bezier(0.23, 0.73, 0.53, 1) forwards;
}

.why {
  background: #000000;
  padding: 120px 0px;
}

.why__wrapper {
  max-width: 1111px;
  width: 100%;
  margin: 0 auto;
}

.why__title {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #FFFFFF;
}

.why__items {
  gap: 151px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.why__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

.why__item-line {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.how {
  padding: 160px 0px;
}

.how__wrapper {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
}

.how__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  /* identical to box height, or 125% */
  padding-bottom: 24px;
  border-bottom: 1px solid #000;
  color: #000000;
}

.how__items {
  margin-left: auto;
  gap: 24px;
  max-width: 750px;
  width: 100%;
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.how__item {
  border-bottom: 1px solid #000;
  padding-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}

.how__item h6 {
  margin: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 42px;
  color: #000000;
}

.how__item p {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.8);
}

.questions {
  background: #000000;
  padding: 120px 0px;
}

.questions__wrapper {
  max-width: 1073px;
  width: 100%;
  margin: 0 auto;
}

.questions__title {
  font-weight: 400;
  font-size: 32px;
  line-height: 42px;
  color: #FFFFFF;
  margin-bottom: 40px;
}

.questions__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 34px;
}

.questions__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 16px;
}

.questions__item img {
  min-width: 42px;
}

.questions__item-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.questions__item-box h6 {
  margin: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 42px;
  color: #FFFFFF;
  margin-bottom: 16px;
}

.questions__item-box p {
  white-space: pre-line;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.8);
}

.forms {
  padding: 120px 0px;
}

.forms__wrapper {
  max-width: 692px;
  width: 100%;
  margin-left: 220px;
}

.forms__title {
  font-weight: 400;
  font-size: 32px;
  line-height: 42px;
  color: #000000;
}

.forms__subtitle {
  margin-top: 24px;
  font-weight: 400;
  font-size: 24px;
  line-height: 42px;
  /* identical to box height, or 175% */
  color: #000000;
}

.form {
  margin-top: 40px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

.form__title {
  width: 100%;
  max-width: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}

.form__title label {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.form__title input {
  outline: none;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
}

.form__title input::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.6);
}

.form__title input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.6);
}

.form__title input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.6);
}

.form__title input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.6);
}

.form__title input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.6);
}

.form__btn {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
  padding: 8px 10px 10px;
  background: #000000;
  border: 1px solid #000000;
  border-radius: 2px;
  max-width: 220px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */
  text-align: center;
  color: #FFFFFF;
}

.form__btn::before {
  opacity: 0;
  width: 0;
  display: block;
  height: 20px;
  background-size: auto;
  background-position: center;
  content: "";
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

.form2__box input {
  -webkit-text-fill-color: #fff;
}

.form2__box input::-moz-placeholder {
  -webkit-text-fill-color: rgba(255, 255, 255, 0.6) !important;
}

.form2__box input:-ms-input-placeholder {
  -webkit-text-fill-color: rgba(255, 255, 255, 0.6) !important;
}

.form2__box input::-webkit-input-placeholder {
  -webkit-text-fill-color: rgba(255, 255, 255, 0.6) !important;
}

.form2__box input::-ms-input-placeholder {
  -webkit-text-fill-color: rgba(255, 255, 255, 0.6) !important;
}

.form2__box input::placeholder {
  -webkit-text-fill-color: rgba(255, 255, 255, 0.6) !important;
}

.change {
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  color: #BFCD15 !important;
  background: none !important;
  border: none !important;
}

.change::before {
  width: 20px;
  opacity: 1;
  background: url("../img/tick.svg");
}

.last {
  padding-top: 160px;
}

.last__wrapper {
  margin-right: 243px;
  width: 100%;
  display: block;
  margin-left: auto;
  max-width: 397px;
  margin-bottom: 284px;
}

.last__wrapper p {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  /* identical to box height, or 144% */
  color: #FFFFFF;
}

.last__title {
  font-weight: 400;
  font-size: 82px;
  line-height: 96px;
  /* or 117% */
  color: #FFFFFF;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}

.footer__item a {
  gap: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.last__block {
  background: #000;
  padding-bottom: 80px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

ul {
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  color: #3bbfce;
  font-family: "Helvetica";
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

@media (max-width: 1449.98px) {
  .container {
    max-width: 1440px;
  }

  .btn {
    font-size: 14px;
    padding: 10px 15px;
  }

  .section__title {
    font-size: 42px;
  }
}

@media (max-width: 997.98px) {
  .container {
    max-width: 998px;
  }

  .btn__outline {
    color: #ffffff;
  }

  .section__title {
    font-size: 34px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: 768px;
  }

  .section__title {
    font-size: 28px;
  }
}

@media (max-width: 479.98px) {
  .container {
    max-width: none;
    padding: 0 20px;
  }

  .section__title {
    line-height: 120%;
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) and (min-width: 320px) {
  .how {
    padding: 60px 0px;
  }

  .why {
    padding: 60px 0px;
  }

  #modal-container {
    padding: 0 20px;
  }

  .how__item p {
    font-size: 13px;
    line-height: 14px;
  }

  .how__item {
    border-bottom: 0.8px solid #000;
  }

  .nav__consult-wrapper {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .nav__consult {
    margin-top: 24px;
  }

  .form2__btn {
    margin-left: 0px;
  }

  .nav__consult {
    padding: 24px 0px;
  }

  .nav__consult-title {
    margin-bottom: 24px;
    font-size: 20px;
    line-height: 23px;
  }

  .form2 {
    gap: 24px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .how__title {
    font-size: 20px;
    line-height: 23px;
    border-bottom: 0.8px solid #000;
  }

  .how__item h6 {
    font-size: 16px;
    line-height: 18px;
  }

  .why__items {
    gap: 24px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .why__item-line {
    font-size: 16px;
    line-height: 22px;
  }

  .why__item-line img {
    max-width: 28px;
    min-width: 28px;
  }

  .why__item {
    gap: 24px;
  }

  .why__title {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 24px;
  }

  .last__wrapper p {
    margin-right: 22px;
    text-align: end;
    font-size: 16px;
    line-height: 18px;
  }

  .last {
    padding-top: 60px;
  }

  .last__wrapper {
    margin-right: 0;
    margin-bottom: 120px;
  }

  .footer__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
  }

  .footer__logo {
    max-width: 120px;
  }

  .footer__item a {
    gap: 4px;
    font-size: 10px;
    line-height: 20px;
  }

  .footer__item a img {
    max-width: 20px;
    min-width: 20px;
  }

  .footer__wrapper {
    max-width: 300px;
  }

  .last__title {
    margin-left: auto;
    margin-top: 24px;
    text-align: left;
    font-size: 32px;
    line-height: 36px;
    max-width: 160px;
  }

  .last__block {
    padding-bottom: 36px;
  }

  .offer {
    margin-top: 60px;
  }

  .offer__description {
    font-size: 12px;
    line-height: 20px;
  }

  .modal {
    min-height: 457px;
    padding: 48px 24px 48px 20px;
    top: 70px;
  }

  .modal__box2 img {
    max-width: 80px;
  }

  .modal__box2 p {
    text-align: initial !important;
    font-size: 16px;
    line-height: 20px;
  }

  .modal__title {
    font-size: 20px;
    line-height: 23px;
  }

  .form3 {
    max-width: 220px;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    gap: 24px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .modal__subtitle {
    margin-bottom: 24px;
    text-align: initial !important;
    font-size: 16px !important;
    line-height: 20px !important;
    font-weight: 300 !important;
  }

  .offer__special-subtitle {
    font-size: 20px !important;
    line-height: 22px !important;
  }

  .offer__item {
    border-bottom: 0.8px solid #000000;
    padding-bottom: 16px;
  }

  .offer__item p {
    font-size: 16px;
    line-height: 18px;
  }

  .offer__items {
    gap: 16px;
  }

  .offer__title {
    font-size: 20px;
    line-height: 30px;
  }

  .offer__subtitle p {
    font-size: 16px;
    line-height: 24px;
  }

  .offer__subtitle {
    gap: 24px;
  }

  .offer__items {
    padding: 0 20px;
  }

  .offer__wrapper {
    gap: 24px;
    padding: 0 20px;
  }

  .offer__consult-wrapper p {
    text-align: center;
  }

  .offer__consult {
    padding: 24px 0px;
  }

  .offer__consult-wrapper {
    gap: 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 20px;
  }

  .offer__description {
    padding: 0 20px;
  }

@-webkit-keyframes rotate {
    0%, 18% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }

    25%, 32% {
      -webkit-transform: translateY(-40px);
              transform: translateY(-40px);
    }

    37%, 44% {
      -webkit-transform: translateY(-80px);
              transform: translateY(-80px);
    }

    51%, 58% {
      -webkit-transform: translateY(-120px);
              transform: translateY(-120px);
    }

    66%, 74% {
      -webkit-transform: translateY(-160px);
              transform: translateY(-160px);
    }

    82%, 90% {
      -webkit-transform: translateY(-200px);
              transform: translateY(-200px);
    }

    100% {
      -webkit-transform: translateY(-240px);
              transform: translateY(-240px);
    }
}

@keyframes rotate {
    0%, 18% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }

    25%, 32% {
      -webkit-transform: translateY(-40px);
              transform: translateY(-40px);
    }

    37%, 44% {
      -webkit-transform: translateY(-80px);
              transform: translateY(-80px);
    }

    51%, 58% {
      -webkit-transform: translateY(-120px);
              transform: translateY(-120px);
    }

    66%, 74% {
      -webkit-transform: translateY(-160px);
              transform: translateY(-160px);
    }

    82%, 90% {
      -webkit-transform: translateY(-200px);
              transform: translateY(-200px);
    }

    100% {
      -webkit-transform: translateY(-240px);
              transform: translateY(-240px);
    }
}

  .white__ellipse {
    max-width: 16px;
    margin-top: 12px;
    margin-left: 0;
    margin-right: 24px;
  }

  .header__lang::after {
    right: 9px;
  }

  .language-select {
    padding: 0px 26px 6px 8px !important;
  }

  .offer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .language-select.open {
    height: 87px;
  }

  .first__wrapper {
    padding-top: 53px;
    margin-left: 0;
  }

  .language-select li {
    min-height: 29px;
    font-size: 12px;
    line-height: 18px;
  }

  .first__line {
    max-width: 34px;
    height: 4px;
  }

  .burger.active .second__line {
    max-width: 34px;
    height: 4px;
  }

  .burger.active {
    right: 20px;
  }

  .nav__menu-link1:hover .arrow_nav1 {
    margin-right: 12px;
    width: 30px;
  }

  .nav__menu-link2:hover .arrow_nav2 {
    margin-right: 12px;
    width: 30px;
  }

  .nav__menu-link3:hover .arrow_nav3 {
    margin-right: 12px;
    width: 30px;
  }

  .nav__menu {
    margin-top: 60px;
  }

  .nav__menu ul {
    gap: 24px;
  }

  .nav__menu ul li a {
    font-size: 24px;
    line-height: 28px;
  }

  .second__line {
    top: 1px;
  }

  .header__lang {
    right: 60px;
    left: auto;
    top: -5px;
  }

  .change_outer {
    height: 44px;
  }

  .change_outer .element {
    text-transform: capitalize;
    font-size: 26px;
    line-height: 40px;
  }

  .header__logo {
    max-width: 110px;
  }

  .first {
    padding-bottom: 100px;
  }

  .first__item {
    text-transform: capitalize;
    font-size: 12px;
    line-height: 20px;
    font-weight: 300;
  }

  .first__second-title {
    gap: 8px;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-left: 48px;
    margin-top: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .first__title span {
    font-size: 20px;
    line-height: 20px;
    margin-top: 0px;
    margin-right: 16px;
  }

  .first__second-title h3 {
    margin-bottom: 10px;
    margin-left: 0;
    font-size: 30px;
    line-height: 40px;
  }

  .header {
    padding-top: 24px;
  }

  .carousel {
    min-width: 260px;
    top: 109px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 16px;
    margin-left: 48px;
    right: 27px;
  }

  .first__title2 {
    margin-top: 24px;
  }

  .yellow_ellipse {
    margin-top: 35px;
    margin-left: 36px;
  }

  .first__title {
    font-size: 30px;
    line-height: 40px;
  }
}